obj/Debug/netcoreapp3.1/aspnet-core.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/aspnet-core.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/aspnet-core.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/aspnet-core.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/project.razor.json
Properties/launchSettings.json
